.menu-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 ;
    background-color: var(--backgrounds-light) ;
    width: 100%;
    height: max(10vh,50px);
}

.border-linked {
    display: flex;
    height: 100%;
}

.button-linked{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2cqw;
    color: var(--text-primary);
    flex-direction: column;
}

.button-linked::after{
    content: "";
    inset: 0;
    display: block;
    height: 2px;
    width: 0%;
    background:linear-gradient(to right, var(--primary), var(--secondary)) ;
}

.button-linked:hover::after{
    width: 100%;
    transition: all 0.3s ease;
}


.button-linked a {
    color: inherit;           /* removes the blue */
    text-decoration: none;    /* removes the underline */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;             /* fills the whole button — makes all space clickable */
}

i{
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    height: 100%;  

}

i:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
