<div class="menu-grid">

    <NavLink href="/">
        <p>Home</p>
    </NavLink>

    <div class="border-linked">
    <div class="button-linked">
        <a href="/Cv">CV</a>
    </div>
    <div class="button-linked">
        <a href="/Cv">about Me</a>
    </div>
    <div class="button-linked">
        <a href="/Cv">Game</a>
    </div>
    </div>
</div>

