<div class="menu-grid">

    <a href="/">
        <i class="bi bi-house-fill"></i>
    </a>

    <div class="border-linked">
        <div class="button-linked">
            <a href="/Cv">CV</a>
        </div>
        <div class="button-linked">
            <a href="/About Me">about Me</a>
        </div>
        <div class="button-linked">
            <a href="/Game">Game</a>
        </div>
        <div class="button-linked">
            <a href="/Blog">Blog</a>
        </div>
    </div>
</div>  