
<div class="imageCardBackround" @onclick=@OnClick>
    <img Src=@Src alt=@Alt>
    <div class="text-box">
        <p>@Caption</p>
    </div>
</div>

@code
{
    [Parameter] public string Src { get; set; }
    [Parameter] public string Alt { get; set; } = "";
    [Parameter] public string Caption { get; set; }
    [Parameter] public Action OnClick { get; set; } = () => { };
}
