.imageCardBackround {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    width: 100%;
    background-color:var(--backgrounds-light);
}

img {
    flex: 1;
    width: 100%;
    min-height: 0;
    object-fit: cover;
    padding: 20px;
    padding-bottom: 0px;
}

.text-box {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageCardBackround:hover {
    filter: brightness(1.1);
    background-color: var(--hover);
}

span {
    font-size: 8cqw;
    text-align: center;
    color: var(--text-primary);}

span::after {
    height: 2px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    content: "";
    display: block; 
    margin: 0px;
    position: relative;
  top: -5px;
}

