
@code {
    [Parameter] public int Level { get; set; }
    [Parameter] public int Max { get; set; } = 5;
}

<div class="skill-dots" >
    @for (int i = 1; i <= Max; i++)
    {
        <span class="dot @(i <= Level ? "filled" : "")"></span>
    }
</div>

<Style>
    .skill-dots {
        display: flex;
        gap: 8px;
        margin-left: 20px;
        align-items: center;

    }

    .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #b4b4b4;

    }

    .dot.filled {
        background-color: #4f81bd;
    }
</Style>
