@page "/Cv"
@using Portfolio.Components

<PageTitle>Cv</PageTitle>

<div class="cv-layout">
    <aside >
        <section class="center">
            <img src="images/head shot.jpg" alt="Photo Frederic LARUE"
                 class="profile-photo">
        </section>
        <section class="left-padding">
            <h2>Contact</h2>
            <p>☎ 07 88 32 01 48 </p>
            <p>✉ <a href="mailto:frederic.larue17@gmail.com">frederic.larue17@gmail.com</a></p>
            <p>➣ 10150 Pont-Sainte-Marie</p>
        </section>
        <section class="left-padding">
            <h2>formation</h2>
            <div class="bottom-margin">
                <p class="date">
                    2016-2019
                </p>
                <p>
                    Baccalauréat Scientifique - SI Lycée des Lombart à Troyes
                </p>
            </div>
            <div class="bottom-margin">
                <p class="date">
                    2019-2021
                </p>
                <p>
                    Classe préparatoire MPSI Lycée Chrétien de Troyes
                </p>
            </div>
            <div class="bottom-margin">
                <p class="date">
                    2021-2023
                </p>
                <p >
                    ingénieur informatique EILCO à Calais
                </p>
            </div>
            <div class="bottom-margin">
                <p class="date">
                    2023-2025
                </p>
                <p >
                    master informatique en alternance Expert en informatique et système d'information EPSI à Auxerre
                </p>
            </div>
        </section>
        <section class="left-padding">
            <h2>Centres d'intérêt</h2>
            <ul>
                <li>Jeux-video</li>
                <li>Actualité</li>
                <li>Histoire</li>
                <li>Ecriture</li>
            </ul>
        </section>
    </aside>
    <main class="cv-main">
        <h1>Master en informatique</h1>
        <p>Frederic larue</p>
        <section>
            <h2>Competence</h2>
            <div class="skill-collum">
                <div class="skill-grid">
                    <p>Python</p> <SkillDots Level="4"/>
                    <p>C#</p> <SkillDots Level="5"/>
                    <p>CSS</p> <SkillDots Level="3"/>
                    <p>React</p> <SkillDots Level="3"/>
                    <p>SQL</p> <SkillDots Level="3"/>
                </div>
                <div class="skill-grid">
                    <p>Git</p> <SkillDots Level="4"/>
                    <p>Gitlab</p> <SkillDots Level="4"/>
                    <p>Scrum</p> <SkillDots Level="3"/>
                    <p>Cyber</p> <SkillDots Level="3"/>
                    <p>Math</p> <SkillDots Level="4"/>
                </div>
            </div>
        </section>
        <section>
            <h2>Langues</h2>
            <p>Anglais : toeic niveau c1 et utilisé en entreprise</p>
            <p>Allemand : niveau courant</p>
        </section>
        <section>
            <h2>Expérience professionnel</h2>
            <h3>
                2023-2025 Alternance de master à Davey Bickford
            </h3>
            <p>Héry ,Bourgogne-Franche-Comté</p>
            <p>
                Contribution au développement d’un outil de gestion du
                matériel, avec intégration de tests automatisés. Réalisation du
                développement en autonomie, ainsi que la coordination avec
                les équipes de cybersécurité et d’infrastructure.
            </p>
        </section>
        <section>
            <h2>Expérience personnel</h2>
            <h3>2021-2025 Création de jeux-vidéo</h3>
            <p>
                Création d’un jeu vidéo personnel, démontrant ma passion
                pour le développement et renforçant mes compétences en
                programmation, conception et architecture logicielle.
            </p>
        </section>
        <section>
            <h2>Compétences personnelle</h2>
            <ul>
                <li>Passionné par les nouvelles technologies</li>
                <li>Serieux</li>
                <li>Esprit analytique</li>
                <li>Grande culture generale</li>
            </ul>
        </section>
    </main>
</div>

<style>
    .profile-photo {
        border-radius: 50%;
        /* Cercle */
        object-fit: cover;
        /* Recadre sans déformer */
        padding: 30px;
        width: 100%;
        aspect-ratio: 1 / 1;

        object-position: center top;
        /* pan to face if needed */
        object-view-box: inset(20%)
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cv-layout {
        min-height: 100vh;
        max-width: 1050px;
        display: flex;
        font-family: 'Lato', sans-serif;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 6px 16px;
    }

    .left-padding{
        padding-left: 20px;
    }

    main {
        background-color: #ededed;
        margin-left: 20px;
    }

    main h2::after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        background-color: #000000;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .bottom-margin {
        margin-bottom: 30px;
    }

    .date {
        font-weight: bold;
        font-size: 28px;
    }


    .skill-collum {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
    }

    aside {
        background-color: #323b4c;
        max-width: 35%;
        color: white;
        padding: 5px;
    }

    p,
    ul,
    li {
        font-size: 22px;
        margin: 0px;

    }

    aside h2::after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        background-color: #ffffff;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    h1 {
        margin-top: 50px;
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 35px;
    }

    h3 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 30px;
    }
</style>

