@page "/"
@inject NavigationManager Nav


<PageTitle>Home</PageTitle>

<main>
    <div class="ImageCardGrid">
        <a href="/Cv">
            <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me" />
        </a>
        <a href="/Cv">
            <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me"/>
        </a>
        <a href="/Cv">
            <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me"/>
        </a>
        <a href="/Cv">
            <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me "/>
        </a>
    </div>
</main>

@code
{
    public void ToCV()
    {
        Console.WriteLine("clicked");
        Nav.NavigateTo("/Cv");
    }
}