@page "/"

<PageTitle>Home</PageTitle>

<main>
    <div class="ImageCardGrid">
        <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me"/>
        <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me"/>
        <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me"/>
        <ImageCard Src="images/head shot.jpg" Alt="Photo Frédéric Larue" Caption="About Me "/>
    </div>
</main>
