@page "/"
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<main>
    <div class="ImageCardGrid">
        <ImageCard Src="images/about me.jpg" Alt="About Me" Caption="About Me" OnClick='() => Nav.NavigateTo("/AboutMe")' />
        <ImageCard Src="images/code.jpg" Alt="CV" Caption="CV" OnClick='() => Nav.NavigateTo("/Cv")' />
        <ImageCard Src="images/game.jpg" Alt="Game Project" Caption="Game Project" OnClick='() => Nav.NavigateTo("/Game")' />
        <ImageCard Src="images/blog.jpg" Alt="Blogs" Caption="Blogs" OnClick='() => Nav.NavigateTo("/Blog")' />
    </div>
</main>
