@page "/"
@inject NavigationManager Nav


<PageTitle>Home</PageTitle>

<main>
    <div class="ImageCardGrid">
        <a href="/Cv">
            <ImageCard Src="images/about me.jpg" Alt="Photo Frédéric Larue" Caption="About Me" />
        </a>
        <a href="/Cv">
            <ImageCard Src="images/code.jpg" Alt="Photo Frédéric Larue" Caption="CV"/>
        </a>
        <a href="/Cv">
            <ImageCard Src="images/game.png" Alt="Photo Frédéric Larue" Caption="Game Project"/>
        </a>
        <a href="/Cv">
            <ImageCard Src="images/blog.jpg" Alt="Photo Frédéric Larue" Caption="blogs"/>
        </a>
    </div>
</main>

@code
{
    public void ToCV()
    {
        Console.WriteLine("clicked");
        Nav.NavigateTo("/Cv");
    }
}